.upload-feature-area {
    background-image: url("../image/upload-bg.jpg");
    @include bg-img;
    padding: 155px 0;
}
.upload-single-feature {
    background-color: $section-bg;
    padding: 65px 20px;
    margin: 10px 0;
    text-align: center;
    position: relative;
    border-radius: 10px;
    transition: all .3s;
    span {
        font-size: 65px;
        color: $icon-color;
    }
    h6 {
        color: #fff;
        font-size: 20px;
        font-family: Mona-Sans;
        font-weight: 500;
        background: #EE5859;
        padding: 4px 12px 6px 12px;
        border-radius: 16px;
        position: absolute;
        top: 25%;
        left: 50%;
    }
    h4 {
        font-size: 26px;
        font-weight: 600;
        margin-top: 7px;
    }
}
.upload-single-feature:hover {
    margin: 6px 0;
}