.icon-cloud-upload:before {
    content: "\e9c3";
}
.icon-message-typing:before {
    content: "\e904";
}
.icon-message:before {
    content: "\e903";
}
.icon-user-plus:before {
    content: "\e973";
}
.icon-redo2:before {
    content: "\e968";
}
.icon-mobile:before {
    content: "\e958";
}
.icon-search:before {
    content: "\e986";
}
.icon-message:before {
    content: "\e903";
}
.icon-facebook:before {
    content: "\ea90";
}
.icon-x:before {
    content: "\e907";
}
.icon-instagram:before {
    content: "\e905";
}
.icon-tiktok:before {
    content: "\e906";
}
.icon-send:before {
    content: "\e900";
 }
.icon-arrow-up-thick:before {
    content: "\e908";
}
.icon-mic:before {
    content: "\e91e";
}
.icon-redo2:before {
    content: "\e968";
}
.icon-play2:before {
    content: "\ea15";
}