@mixin new-section {
    padding: 50px 0;
}
@mixin section-heading-h2 {
    text-align: center;
    font-family: Mona-Sans;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 20px;
}
@mixin section-heading-p {
    font-family: Mona-Sans;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}
@mixin bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@mixin overlay-effect {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: " ";
    background: #000;
    opacity: 0.7;
    z-index: -1;
}
@mixin verCenter-parent {
    display: table;
    text-align: center;
    width: 100%;
}
@mixin verCenter-child {
    display: table-cell;
    vertical-align: middle;
}