.discover-area .col-md-4 {
    overflow: hidden;
    border-radius: 10px;
}
.discover-area {
    @include new-section;
    .section-heading {
        @include section-heading-h2;
    }

    .daily-life-feature {
        min-height: 412px;
        border-radius: 10px;
        margin: 10px 0;
        transition: all .3s;
        @include verCenter-parent;
        a {
            @include verCenter-child;
            font-family: Mona-Sans;
            color: $primary-color;
            font-size: 30px;
            font-weight: 600;
            text-transform: capitalize;
            transition: all .3s;
        }
        
    }
    .daily-life-feature:hover {
        transform: scale(1.04);
    }
    .daily-life-feature:hover a {
        color: $secondary-color;
    }
    .feature-1 {
        background-image: url("../image/discover-1.jpg");
        @include bg-img;
    }
    .feature-2 {
        background-image: url("../image/discover-2.jpg");
        @include bg-img;
    }
    .feature-3 {
        background-image: url("../image/discover-3.jpg");
        @include bg-img;
    }
    .feature-4 {
        background-image: url("../image/discover-4.jpg");
        @include bg-img;
    }
    .feature-5 {
        background-image: url("../image/discover-5.jpg");
        @include bg-img;
    }
    .feature-6 {
        background-image: url("../image/discover-6.jpg");
        @include bg-img;
    }
    .feature-7 {
        background-image: url("../image/discover-7.jpg");
        @include bg-img;
    }
    .feature-8 {
        background-image: url("../image/discover-8.jpg");
        @include bg-img;
    }
    .feature-9 {
        background-image: url("../image/discover-9.jpg");
        @include bg-img;
    }

}