.pricing-area {
    @include new-section;
    background-image: url("../image/pricing-bg.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    margin-bottom: -27px;
}
.row.pricing-feature {
    padding: 70px 0 50px;
}
.section-details {
    padding-bottom: 30px;
    h2 {
        @include section-heading-h2;
        padding-bottom: 10px;
        span {
            color: $secondary-color;
            font-size: 40px;
        }
    }
    p {
        @include section-heading-p;
    }
}
.single-pricing {
    padding: 65px 105px;
    h4 {
        font-size: 35px;
        color: $secondary-color;
    }
    p {
        font-size: 16px;
        font-weight: 300;
    }
}